# ==============================================
# Kirin/Huawei Policy Rule
# ==============================================

type recovery_device, dev_type;