allow kernel device:dir { rw_dir_perms create setattr add_name search rmdir };
allow kernel rootfs:dir { rw_dir_perms create setattr add_name search};
allow kernel tmpfs:dir { rw_dir_perms create setattr add_name search };
allow kernel block_device:dir { rw_dir_perms create setattr add_name search };

allow kernel rootfs:file { rw_file_perms create setattr unlink };
allow kernel unlabeled:file { read write };

allow kernel recovery:fd { use };
allow kernel block_device:blk_file { open read write ioctl setattr};
allow kernel self:capability { mknod };
allow kernel self:capability2 { syslog };

allow kernel device:chr_file { open create getattr setattr read write lock append open unlink };