allow vendor_init pm_prop:property_service { set };
allow vendor_init selinuxfs:file { rw_file_perms };
allow vendor_init proc_max_map_count:file { write };
allow vendor_init rootfs:dir { rw_dir_perms create setattr };
allow vendor_init kernel:security { setcheckreqprot };
allow vendor_init proc:file { rw_file_perms };

allow vendor_init kernel:system { module_request };

# Allow relabel file (selinux)
allow vendor_init rootfs:file { relabelfrom relabelto };
allow vendor_init hwservicemanager_exec:file { relabelfrom relabelto };